/* Curso Básico de CSS - 14. Layout, estructura Basica */

* {
	margin: 0px;
	/*padding: 0px;*/
}

body {
	background: #e6e6e6;
}

header, .main, footer {
	/*background: #fff;*/
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

header nav {
	background: #528fd5;
	overflow: hidden;    /* Oculta el contenido que no cabe en el contenedor*/
}

header nav ul {
	list-style: none;
}

header nav ul li {
	float: left;
}


header nav ul li a {
	padding: 10px 20px;
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 40px;
}

header nav ul li a:hover {
	background: #75acec;
}

/*.main .articles_ {
	width: 68.5%;	 hay que cambiarlo por que si nó no cabe el margen derecho
	margin-right: 1.5%;
	float: left;
}*/

.main .articles article{
	padding: 20px;
	background: #fff;
	margin-bottom: 20px;
}

aside {
	/*width: 30%;*/
	background: #ff8000;
	/*float:left;*/	/* si no se pone esta opción, pasa a la arte inferior*/
	padding: 20px;
	box-sizing: border-box;
	min-height: 300px;
}

footer {
	background: #000;
	color: #fff;
	clear: both;	/* Borra el rastro de los float:left; anteriores*/
	padding: 10px 0px;
	text-align: center;
}

h2 a{
	/*padding: 10px 20px;*/
	display: block;
	color: #000;
	text-decoration: none;
}

.parrafo{
	text-indent: 40px;
	text-align: justify;
	margin: 10px;
}

/*@media screen and (min-width: 480px){*/
/*@media screen and (min-width: 767px){*/
/*@media screen and (min-width: 950px){	No ha funcionado con teléfono móvil*/
@media only screen and (min-device-width: 950px){	/* este si ha funcionado */
	aside {
		width: 30%;
		float:left;	/* si no se pone esta opción, pasa a la arte inferior*/
	}
	.main .articles {
		width: 68.5%;	/* hay que cambiarlo por que si nó no cabe el margen derecho*/
		margin-right: 1.5%;
		float: left;
	}
	header nav ul li a {
		font-size: 20px;
	}
}